body {
  background-image: url("background-logo.png");
  background-position: left;
  background-repeat: repeat;
  background-color: #34495e;
}

body a {
  text-decoration: none;
  color: #2c3e50;
}

.container {
  background-color: #7f8c8d;
  margin: 2% 10% 0px 10%;
  font-family: sans-serif;
}

header {
  text-align: center;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 1px;
  font-family: fantasy;

}

.player {
  margin-top: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.music-player {
  width: 80%;
  margin: 20px 0px 20px 0px;
}

.search {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.search-form {
  width: 88%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.search-form > input[type="text"]{
  width: 70%;
  height: 25px;
}

.search-form > input[type="submit"]{
  width: 20%;
  border-style: none;
  background-color: #2c3e50;
  color: #ecf0f1;
}

.results {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.results > h1{
  width: 80%;
  font-weight: lighter;
  text-align: center;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 1px;
}

img {
  height: 100px;
  width: 100px;
}

#users {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
}

.user {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 40%;
  margin: 5px;
}

.user-username {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#tracks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
}

.track {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  margin: 0px 5px 0px 5px;
}

.track-details {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.track-name > h6 {
  margin: 0px;
}

#playlists {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
}

.playlist {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 40%;
  border-style: solid;
  border-width: thin;
  border-color: #ecf0f1;
  margin: 5px;
}

.playlist-details {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* TABLET */
@media screen and ( min-width: 480px ) and ( max-width: 899px ){
  .user {
    width: 30%;
  }

  .track {
    width: 30%;
  }

  .playlist {
    width: 30%;
  }
}

/* DESKTOP */
@media screen and ( min-width: 900px ) and ( max-width: 1099px ){
  .user {
    width: 23%;
  }

  .track {
    width: 23%;
  }

  .playlist {
    width: 23%;
  }
}
/* DESKTOP WIDE */
@media screen and ( min-width: 1100px ){
  .user {
    width: 18%;
  }

  .track {
    width: 18%;
  }

  .playlist {
    width: 18%;
  }
}
